.settings/
.classpath
.project
target/
dependency-reduced-pom.xml
src/main/java/org/vicomtech/opener/bratAdaptionTools/ws/
KAF_TO_BRAT_TESTS/
*.properties
*~
tourpedia-fb.txt
tourpedia-locations.txt
tourpedia-venues.txt
bratCollectionsForAnnotation/
bratCollectionsForAnnotation_*/
reviewsForAnnotations/
reviewsForAnnotations_KAF/
reviewsForAnnotations_KAF_*/
reviewsForAnnotations_set2*/
BRAT_DOCS/
KAF_DOCS/
reviewIDS/